

/* Основний колір тексту : #757575 */

/* Вторинний колір тексту : #212121 */

/* Головний колір фону : #FFFFFF */

/* Прозорий білий для пошти і тел в футері : rgba(255, 255, 255, 0.6) */

/* Колір акценту : #2196F3 */

/* Чорнрий колір для лого : #000000 */

/* Колір фону : #F5F4FA */

/* Вторинний колір фону : #2F303A*/

/* Вторинний колір фону кнопки на баннері : #188CE8 */

/* Колір нижньої рамки у хедері : #ECECEC */

/* Колір рамки для карток на сторінці потфоліо : #EEEEEE */

/* Колір для іконок соцмереж */




:root {
    --primary-text-color: #757575 ;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --logo-black-color: #000000;
    --primary-bg-color: #FFFFFF;
    --transparent-white: rgba(255, 255, 255, 0.6);
    --background-color: #F5F4FA;
    --secondary-bg-color: #2F303A;
    --hover-color-for-banner-button: #188CE8;
    --header-border-line: #ECECEC;
    --card-border-line: #EEEEEE;
    --icon-fill:#AFB1B8;
    
}



body {
    font-family: "Roboto", "Montserrat", "Nunito", sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-size: 14px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,h2,h3,h4,h5,h6,ul,p {
    margin: 0;
    padding: 0;
}

/* Container */

.container {

    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}


/* Header */

.header {
    
    border-bottom: 1px solid var(--header-border-line);
}

.main-list {
    display: flex;
    
    align-items: center;

}


/* Logo */

.logo {
    display: flex;
    font-family: "Raleway", sans-serif;
    color: var(--accent-color) ;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}


.studio-top {
    color: var(--logo-black-color) ; 
}

.studio-bottom {
    color: var(--primary-bg-color);

} 




/* Site-nav */

.site-nav {
    display: flex; 
    margin-left: 93px;
}

.navigation {
    display: flex;
    align-items: center;
}

.site-nav .item + .item {
    margin-left: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em; 
    position: relative;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.site-nav .link::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    display: inline-block;
    border-radius: 2px;
    bottom: -1px;
    left: 0px;
    
    opacity: 0;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover::after, .link:focus::after {
    opacity: 1;
}



.site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-color);

}

.link.active {
    color: var(--accent-color);
    
}

.link.active::after {
    opacity: 1;
}







/* Contacts */

.contact-list {
    margin-left: auto;
    
    display: flex;
    font-weight: 500;
    line-height:  1.14;
    letter-spacing: 0.02em;
}

.contact-list .item + .item {
    margin-left: 50px;
}



.contact-list .link {
    color: var(--primary-text-color);
    display: flex;
    align-items: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.contact-list .link:hover, .contact-list .link:focus {
    color: var(--accent-color);
}

.envelope-icon {
    fill: currentColor;
    width: 16px;
    height: 12px;
    margin-right: 10px;
}

.smartphone-icon {
    fill: currentColor;
    width: 10px;
    height: 16px;
    margin-right: 10px;
}








/* Баннер */

.banner {
    padding: 200px 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
     url(../images/banner.jpg);
    

    background-color: var(--secondary-bg-color);
}

.banner-title {
    margin-bottom: 30px;
    

    text-transform: uppercase;
    color: var(--primary-bg-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
   
}

.banner-button {

    min-width: 200px;
    padding: 10px 32px;
    border-radius: 4px;
    border-color: transparent;
    

    font-family: inherit;
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.banner-button:hover, .banner-button:focus {
    background-color: var(--hover-color-for-banner-button);
}

/* Section */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    margin-bottom: 50px;

    color: var(--title-text-color) ;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* Features */

.section.features {
    padding-bottom: 0px;
}

.section-title.features {
    display: none;
}

.feature-list {
    display: flex;
}

.feature-list .item {
    display: inline-block;
    align-items: center;
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
    height: 120px;
    background-color: var(--background-color);
}

.features-icon {

   width: 70px;
   height: 70px;
   
}

.feature-list .item + .item {
    margin-left: 30px;
}


.feature-list .title {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}

.feature-list .feature-text {
    line-height: 1.71;
    letter-spacing: 0.03em;
}



/* Examples of work */

.section-title.works {
    text-align: center;
}

.work-examples {
    display: flex;
    line-height: 0;
}

.work-examples .item {
    display: block;
}

.work-examples .item + .item {
   margin-left: 30px;
}

.work-examples .item {
    position: relative;
}

.work-image {
    position: absolute;
    left: 0px;
    bottom:0px;
    width: 100%;
    padding: 27px 82px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-bg-color);
    background-color: rgba(47, 48, 58, 0.8);
}



/* Team */

.section-title.team {
    text-align: center;
}

.section.team {
    background-color: var(--background-color);
}

.team-list {
    display: flex;
   
}

.team-list .title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team-list .position {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.03em;   
    margin-bottom: 16px;
    
}

.team-list-text {
     padding-top: 30px;
     padding-bottom: 30px;
     text-align: center;
    
}

.team-list .title, .feature-list .title {
    margin-bottom: 10px;
}

.team-list .item {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px ;
    

    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list .item + .item {
    margin-left: 30px;
}

.team-member-picture {
    max-width: 100%;
    display: block;
}

.web-list {
    display: flex;
     padding: 0px 32px;
     
    
    
}

.web-list-item {
    background-color: var(--primary-bg-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.web-list-item:hover {
    background-color: var(--accent-color);
}


.web-list .web-list-item + .web-list-item {
    margin-left: 10px;
}

.social-networks-icon {
    
    fill: var(--icon-fill);
    
    width: 22px;
    height: 22px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.web-list-item:hover > .social-networks-icon {
    fill: var(--primary-bg-color);
}

/* Clients */

.section-title.clients {
    text-align: center;
}

.company-list {
    display: flex;
}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-fill);
    border-radius: 4px;
    cursor: pointer;
    fill: var(--icon-fill);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.icon-clients {
    width: 106px;
    height: 60px;
}

.clients-link:hover, .clients-link:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
}

.company-list .clients-item + .clients-item {
    margin-left:30px; 
}


/* Projects */

.projects {
    display: flex;
    flex-wrap: wrap;
}

.projects .project-title {
    margin-bottom: 4px;
    

    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects .project-text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.link-item-projects {
    display: block;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-item-projects:focus, .link-item-projects:hover {
    box-shadow: 17px 16px 37px -15px rgba(0, 0, 0, 0.51);
}

.projects .item {

    flex-basis: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

}


.projects-picture {
    
    display: block;
    max-width: 100%;
}

.projects .item:nth-child(3n) {
    margin-right: 0px;
}

.projects .item:nth-child(n+7) {
    margin-bottom: 0px;
}

.card-content {
    padding: 20px 24px;
    border: 1px solid var(--card-border-line);
}


.overlay-thumb {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    width: 100%;
    height: 100%;
    
    top: 0px;
    left:0px;

    padding: 63px 24px;
    
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    text-align: center;
    
    color: var(--primary-bg-color);

}

.text-thumb {
    
    position: absolute;
    
    
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    left: 0px;
    top: 0px;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.link-item-projects:hover .text-thumb, .link-item-projects:focus .text-thumb {
    transform: translateY(0);
}

   


/* Buttons */



.button-list {
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
}

.button-list .item + .item {
    margin-left: 8px;
}


.button-list .button {

    padding: 6px 22px;
    border-radius: 4px;
    border-color: transparent;

    background-color: var(--background-color);
    cursor: pointer;
    font-family: inherit;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.button-list .button:hover, .button-list .button:focus {
box-shadow: 14px 13px 24px -8px rgba(0, 0, 0, 0.59);
}

.button-list .button:hover, .button-list .button:focus {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
   
}

.button-list .current {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
}

/* Футер */


.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    
    background-color: var(--secondary-bg-color);
}

.social-networks-footer {
    margin-left: 70px;
}

.social-ntw-icons {
    width: 22px;
    height: 22px;
}

.social-networks-list {
    display: flex;
}

.container.footer {
    display: flex;
    align-items: baseline;
    padding:0;
}

.footer-titles {
    color: var(--primary-bg-color);

    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}

.ntw-link {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    fill: var(--primary-bg-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.ntw-link:hover, .ntw-link:focus {
    background-color: var(--accent-color)
}

.social-networks-list > .network-item + .network-item {
    margin-left: 10px;
}




/* Address */

.address-list {
    margin-top: 20px;
}

.address-list .street-name {
    color: var(--primary-bg-color);
    }

.address-list .contact-info {
    color: var(--transparent-white);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list .contact-info:hover, .address-list .contact-info:focus {
    color: var(--accent-color);
}

.street-name, .contact-info {
    display: block;
    margin-bottom: 9px;

    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
}

.contact-info.tel {
    margin-bottom: 0px;
}

/* Модальное окно */

.backdrop {
    position: fixed;
    left: 0px;
    top: 0px;
    
    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}


.modal {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(0px);

    width: 528px;
    height: 581px;
    border-radius: 4px;
    
    opacity: 1;
    background-color: var(--primary-bg-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) translateX(-150px);
    opacity: 0;
}

.close-button {

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 30px;
    height: 30px;
    
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    background-color: var(--primary-bg-color);
    cursor: pointer;
    padding: 0;

    margin-top: 8px;
    margin-right: 8px;
   
}

.button-element {
    width: 11px;
    height: 11px;
}






